
@{
    ViewBag.Title = "Login to Portal";
}

<center><h1><b><span class="glyphicon glyphicon-user"></span>Login to Portal</b></h1></center>
@using (Html.BeginForm("Login", "Home", new { un = "un", p = "p" }, FormMethod.Post))
{
    <center>
        <fieldset class="form-group">
            <br />
            <label>Username</label>
            <input class="form-control" id="username" type="text" name="un" required />
            <br />
            <br />
            <label>Password</label>
            <input class="form-control" id="password" type="password" name="p" required />
            <br />
            <br/>
            <input class="form-control" type="submit" />
        </fieldset>
    </center>
}
