
@{
    ViewBag.Title = "Login to Portal";
}

<center><h1 class="body-content"><b><span class="glyphicon glyphicon-user"></span> Login to Portal</b></h1></center>
@using (Html.BeginForm("Login", "Home", new { un = "un", p = "p" }, FormMethod.Post))
{
    <center>
        <fieldset class="form-group">
            <br />
            <label>Username</label>
            <input class="form-control" type="text" name="un" required />
            <br />
            <br />
            <label>Password</label>
            <input class="form-control" type="password" name="p" required />
            <br />
            <br/>
            <button class="btn btn-primary btn-lg navbar-btn" type="submit" >Login</button>
        </fieldset>
    </center>
}
