@{
    ViewBag.Title = "Logging out";

    var fun = "";
    if (Request.Cookies["logincookie"] == null)
    {
        fun = Request.Cookies["logincookie"].Value;
        <li>@Html.ActionLink("Login", "Login", "Home")</li>
        <li>@Html.ActionLink("Sign Up", "SignUp", "Home")</li>
    }
}
<h2>Logout Sucessfull!!! Have a nice day :)</h2>
<ul class="nav navbar-nav navbar-right">
    
</ul>
